<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">myfan</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/myfest</property>
        <property name="hibernate.connection.username">myfan</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.transaction.auto_close_session">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Possible values: -->
        <!-- 'create'       -> creates the schema, destroying previous data
             'create-drop'  -> drop the schema at the end of the session 
             'update'       -> update the schema, 
             'validate'     -> validates the schema, no changes on DB -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        
        
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        
        
        <mapping resource="Artists.hbm.xml" />
        <mapping resource="Artistsgenres.hbm.xml" />
        <mapping resource="Artistsscores.hbm.xml" />
        <mapping resource="Concertsscores.hbm.xml" />
        <mapping resource="Discsscores.hbm.xml" />
        <mapping resource="Musicalgenres.hbm.xml" />
        <mapping resource="Twittermentions.hbm.xml" />
    </session-factory>
</hibernate-configuration>
