<div id="genresManagerPage">
            <div id="backButton">
                <button type="button" class="btn btn-primary">Cerrar sesión</button>
            </div>
            <div id="genresManagerContainer">

                <div id="genresListContainer">
                    <div ng-repeat="genre in vm.genresList">
                      {{genre.name}}
                    </div>
                </div>
                <div id="genresFormContainer">
                    <form>
                        <input class="a form-control" size="15" type="text" ng-model="vm.newGenre.musicalGenre" name="newGenre" placeholder="Añadir nuevo genero" />
                        <button type="button" ng-click="vm.agregarGenero()" class=" c btn btn-success"> Agregar
                        </button>
                    </form>
                </div>
            </div>
        </div>
