<div id="fanProfileContainer" class="container-fluid">
    <div class="col-xs-2 col-md-2 ">
        <div id="fanInfoContainer" class="row contentArea center-blocks">
            <div id="fanImageContainer">
                <div id="fanImageFrame">
                    <img ng-src="/{{vm.newUser.imageProfile}}" id="userProfileImage" alt="artist Profile Image" />
                </div>
                <div id="fanCogContainer">
                    <span uib-dropdown>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Farm-Fresh_cog.png"  id="cogImage" alt="cogImage" title="MyImage" uib-dropdown-toggle />
                            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                <li>
                                    <a ng-click="vm.openEditFan('lg')" href>Modificar Datos</a>
                                </li>
                                <li>
                                    <a ng-click= "vm.sessionClose()"href>Cerrar Sesión</a>
                                </li>
                            </ul>
                        </span>

                </div>
                <div id="fanWelcomeMsgContainer">
                    ¡Bienvenido {{vm.newUser.loginUser}}!
                </div>

            </div>
            <div id="fanDataContainer">
                <b>Nombre: </b> {{vm.newUser.nameUser}}
                <br/>
                <b>Edad:</b> {{vm.newUser.ageUser}}
                <br />
                <b>Géneros: </b>
                <p style="margin:0" ng-repeat="genre in  vm.newUser.musicalGenres">
                    {{genre.name}}
                </p>
                <!-- usar ng-repeat aquí con <br/> para el salto de linea -->
                <b>Pais: </b> {{vm.newUser.countryLocation}}
            </div>
        </div>
    </div>
    <div class="contentArea col-xs-7 col-md-7">
        <div id="buttonNavContainer">
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab index="0" heading="General">
                    <div id="publicationsContainer">
                        <ul class="timeline">
                            <li ng-repeat="publication in vm.timeline | orderBy:'-date'">
                                <div ng-if="publication.type=='news'" class="timeline-badge primary"><i style="vertical-align:baseline;" class="fa fa-newspaper-o"></i></div>
                                <!-- noticia  !-->
                                <div ng-if="publication.type=='event'" class="timeline-badge warning"><i style="vertical-align:baseline;" class="fa fa-calendar-check-o"></i></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4 class="timeline-title">{{publication.title}}
                                               <div ng-if="publication.concert==true" ng-click="vm.open('lg', publication.title, publication.content, publication.stars, publication.commentsAmount, publication.date, publication.eventId)" class="eventReview pull-right">
                                                 <uib-rating style="font-size: 1.2vw; color:#f9f014;" read-only="true" class="star pull-left" ng-model="publication.averageCalificationsConcerts"  max='5'   aria-labelledby="default-rating"></uib-rating>
                                                   </div>
                                                   </h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p>{{publication.content}}</p>
                                    </div>
                                    <span ng-if="publication.isCancel===true" class="pull-left"><small><i class="glyphicon glyphicon-time"></i>Cancelado</small></span>
                                    <span class="pull-right"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{publication.date}}</small></span>
                                </div>
                            </li>
                        </ul>
                        <uib-pager total-items="totalItems" ng-model="currentPage"></uib-pager>
                    </div>
                </uib-tab>
                <uib-tab ng-click="vm.getFollowedArtist()" index="1" heading="Mis Artistas">
                    <div id="myArtistsListContainer">
                        <div id="myArtistsListHeader">
                            <div id="myArtistsFollowsCounter">¡Sigues a {{vm.artistList.length}} artistas!</div>
                        </div>
                        <div id="myArtistsListMainContent">
                            <div ng-repeat="artist in vm.artistList" class="artistShortProfile">
                                <div class="artistLeftContent">
                                    <div class="artistImageContainer">
                                        <img ng-src="{{artist.image}}" class="artistProfileImage" alt="artist Profile Image" />
                                    </div>
                                </div>
                                <div class="artistRightContent">
                                    <div class="artistProfileHeader">
                                        <div class="artistProfileTitle">{{artist.nameArtist}}</div>
                                        <div class="artistProfileQuitFollow">
                                            <button ng-click="vm.unfollowArtist(artist.artistId)" class="btn btn-default btn-xs  btn-block">Dejar de seguir</button>
                                        </div>
                                    </div>
                                    <div class="artistProfileLeftInfo">
                                        <p>{{artist.ubicationArtist}} </p>
                                        <p> {{artist.totalOfDiscs}} Discos</p>
                                        <p>
                                            <uib-rating style="font-size: 1.2vw; color:#f9f014;" read-only="true" class="star" ng-model="artist.rankingOfArtist" max="5" aria-labelledby="default-rating"></uib-rating>
                                        </p>
                                    </div>
                                    <div class="artistProfileCenterInfo">
                                        <div class="centerInfoTitle">Géneros Musicales</div>
                                        <div class="centerInfoContent">
                                            <span ng-repeat="genre in artist.genres">{{genre}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>

    </div>
    <div class="col-xs-3 col-md-3" style="height: 100%">
        <div id="fanSearchArtistContainer" class="row contentArea center-blocks">
            <div id="searchInputContainer">
                <input type="search" ng-model="vm.searchParameters.name" class="form-control input-sm inputClass" id="searchBox" placeholder="Búsqueda de artistas..." />
            </div>
            <div id="searchButtonsContainer" class="text-center">
                <button ng-click="vm.search()" class="b btn btn-primary btn-sm btn-block">Buscar</button>
                <button ng-click="showFilters()" class="b btn btn-primary btn-sm btn-block">Filtros</button>
            </div>
            <div ng-hide="filtersInvisible" class="row" id="searchHiddenFiltersContainer">
                <div id="hiddenFiltersDescription" class="col-xs-1 col-md-4">
                    <p style="font-size:1.2vw; margin-bottom:39px;">Género: </p>
                    <p style="font-size:1.2vw;">País: </p>
                </div>
                <div id="hiddenFiltersInputs" class="col-xs-3 col-md-8">
                    <select ng-model="vm.searchParameters.nameGenre" class=" input-sm form-control comboBox">
                        <option value="">Ninguno</option>
                        <option ng-repeat="genre in vm.genresList" value="{{genre.name}}">{{genre.name}}</option>
                        <!--  <option ng-repeat="x in genres" value="{{x.genreValue}">{{x.genreName}}</option>  -->
                    </select>
                    <br/>
                    <select ng-model="vm.searchParameters.nameUbication" class="input-sm form-control comboBox">
                        <option value="">Ninguno</option>
                        <option ng-repeat="country in vm.countriesList" value="{{country.name}}">{{country.name}}</option>
                        <!--  <option ng-repeat="x in countries" value="{{x.countryValue}">{{x.countryName}}</option>  -->
                    </select>
                    <br/>
                </div>
            </div>

            <div ng-click="vm.goToArtistProfile(result.idArtist)" class="searchResult" ng-repeat="result in vm.searchResults">
                {{result.nameArtist}}
            </div>
        </div>

    </div>
</div>
