<div class="modal-header">
    <h3 class="modal-title">Crear nuevo evento</h3>
</div>
<div class="modal-body row container-fluid ">
    <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3"></div>
    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
        <form name="newEventForm">
            <strong> Título: </strong>
            <input type="text" class="form-control" name="titleEvent" ng-model="newEventData.titleEvent" placeholder="Título" ng-minlength="1" ng-maxlength="30" required>
            <p ng-show="newEventForm.eventTitle.$error.maxlength" class="help-block">Título muy largo</p>
            <br>
            <div>
                <strong> Fecha: </strong>
                <p class="input-group">
                    <input type="text" class="form-control" name="dateEvent" placeholder="Fecha de evento"
                    uib-datepicker-popup="dd-MM-yyyy" ng-model="newEventData.dateEvent"
                    is-open="isCalendarOpen" datepicker-options="dateOptions" ng-required="true"
                   close-text="Cerrar" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default margin-calendar-button"
            ng-click="isCalendarOpen = !isCalendarOpen"><i class="fa fa-calendar"></i></button>
          </span>
                </p>
                <div ng-messages="newEventForm.dateEvent.$error" ng-if="newEventForm.dateEvent.$submitted || newEventForm.dateEvent.$dirty" ng-messages-multiple="ng-messages-multiple" class="error-messages slide-right">
                    <div ng-message="required" class="message slide-left">No se han introducido datos</div>
                </div>
            </div>
            <br>

            <label for="countrySelect"> Ubicación: </label>
            <select name="countrySelect" id="countrySelect" class="form-control" ng-model="newEventData.ubicationEvent" required>
                <option ng-repeat="country in ubications" value="{{country.name}}">{{country.name}}</option>
            </select>
            <br/>
            <div ng-messages="newEventForm.countrySelect.$error" ng-if="newEventForm.$submitted || newEventForm.countrySelect.$pristine" ng-messages-multiple="ng-messages-multiple" class="error-messages slide-right">
                <div ng-message="required" class="message slide-left">No se ha introducido el pais</div>
            </div>

            <br/>
            <br/>

            <strong>Contenido: </strong>
            <textarea rows="4" placeholder="Contenido" class="form-control" name="contentEvent" ng-model="newEventData.contentEvent" ng-maxlength="300" required /> </textarea>
            <p ng-show="newEventForm.contentEvent.$error.maxlength" class="help-block">Contenido muy largo</p>

            <br/>

            <label style="padding-left:0%" class="radio-inline">
                <strong>Tipo de evento: </strong>
            </label>
            <label class="radio-inline">
                <input type="radio" name="isConcert" ng-model="newEventData.isConcert" value="true" required> Concierto
            </label>
            <label class="radio-inline">
                <input type="radio" name="isConcert" ng-model="newEventData.isConcert" value="false" required> Otro
            </label>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button style="width:auto;" class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button style="width:auto;" class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
